<h1>Menu</h1>

<div>
  <strong>Name:</strong>
  <%= @menu.name %>
</div>

<div>
  <strong>Type of Menu:</strong>
  <%= @menu.type_menu %>
</div>

<%= link_to 'Edit', edit_menu_path(@menu) %>
<%= link_to 'Back', menus_path %>