<h1>Utensils</h1>

<table class='table table-hover table-striped table-sm'>
  <thead>
    <tr>
      <th>Utensil</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= utility.utensil.name %></td>
    </tr>
  </tbody>
</table>