<h1>Ingredients</h1>

<table class='table table-hover table-striped table-sm'>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Measure</th>
    </tr>
  </thead>

  <tbody>
    <%= render step.uses %>
  </tbody>
</table>
          