<h1>Ingredient</h1>

<div>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</div>

<div>
  <strong>Calories:</strong>
  <%= @ingredient.calories %>
</div>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %>
<%= link_to 'Back', ingredients_path %>