<tr>
  <td><%= utensil.name %></td>
  <td><%= link_to 'Show', utensil_path(utensil), class: 'btn btn-success btn-sm' %></td>
  <td><%= link_to 'Edit', edit_utensil_path(utensil), class: 'btn btn-secondary btn-sm' %></td>
  <td><%= link_to 'Destroy', utensil_path(utensil), class: 'btn btn-danger btn-sm',
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
</tr>
