<div class='utility_fields card mb-2'>
  <div class='card-body'>
    <div class='form-group'>
      <%= f.label :utensil %><br>
      <%= f.collection_select(:utensil_id, Utensil.my_utensils, :id, :name,
                              { prompt: true }, { class: 'form-control', id: 'utensilSelect' }) %>
    </div>

    <div class='form-group'>
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields('Remove utensil', '.utility_fields',
            class: 'btn btn-danger btn-sm form-control') %>
    </div>
  </div>
</div>