<h1>Step</h1>

<div>
  <strong>Operation:</strong>
  <%= @step.operation %>
</div>

<div>
  <strong>Expected minutes:</strong>
  <%= @step.expected_minutes %>
</div>

<div>
  <strong>Comment:</strong>
  <%= @step.comment %>
</div>

<%= link_to 'Back', steps_path %>